<%= form_with(model: pastsale) do |form| %>
  <% if pastsale.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pastsale.errors.count, "error") %> prohibited this pastsale from being saved:</h2>

      <ul>
        <% pastsale.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :salename, style: "display: block" %>
    <%= form.text_field :salename %>
  </div>

  <div>
    <%= form.label :location, style: "display: block" %>
    <%= form.text_field :location %>
  </div>

  <div>
    <%= form.label :site, style: "display: block" %>
    <%= form.text_field :site %>
  </div>

  <div>
    <%= form.label :sale_id, style: "display: block" %>
    <%= form.number_field :sale_id %>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
