<div id="<%= dom_id pastsale %>">
  <p>
    <strong>Salename:</strong>
    <%= pastsale.salename %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= pastsale.location %>
  </p>

  <p>
    <strong>Site:</strong>
    <%= pastsale.site %>
  </p>

  <p>
    <strong>Sale:</strong>
    <%= pastsale.sale_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= pastsale.date %>
  </p>

</div>
